<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DemographyAI</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/head.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/face-analysis/upload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/face-analysis/results.css') }}">

</head>
<body>
    <header>
        <div class="logo" onclick="window.location.href='{{ url_for('home') }}'" >
            DemographyAI
          </div>
        <nav>
          <a href="{{ url_for('home') }}">Home</a>
          <a href="{{ url_for('upload') }}">Upload Image</a>
          <a href="{{ url_for('webcam') }}">Live Webcam</a>
        </nav>
      </header>
    <main>
        <section class="upload-container" id="upload-container">
            <div class="upload-box" id="upload-box">
                <p>Drag and drop your image here, or</p>
                <button id="select-file-button">Select File</button>
                <input type="file" id="file-input" style="display:none;" />
            </div>            
            <button id="server-upload">Upload</button>
            <p class="formats">Supported formats: JPG, JPEG, PNG, WEBP</p>
            <p id="error-message"></p>
        </section>
        <section id="results" class="results-section" style="display:none;">
  
            <h2>Photo Results</h2>
            <div class="carousel" id="carousel">
              <div class="carousel-inner" id="carousel-items"></div>
              <button id="carousel-prev-btn" onclick="prevResult()">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
              </button>
              <button id="carousel-next-btn" onclick="nextResult()">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
            </div>
            <div id = "emtpy-result" style="display: none;">
              No Face Detected
            </div>
            <button id="take-image-btn" aria-label="Upload Another File" onclick="window.location.href='{{ url_for('upload') }}'">
              Upload Another File
            </button> 
          </section>
    </main>
    <footer>
        <p>© 2023 DemographyAI. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/face-analysis/results.js') }}"></script>
    <script src="{{ url_for('static', filename='js/face-analysis/upload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/face-analysis/dragdrop.js') }}"></script>
</body>
</html>
